{% extends 'base.html' %}

{% block title %}
|| Blog Details
{% endblock title %}

{% block content %}
<div class="container">
    {% if blog %}
        <div class="row">
            <div class="col-md-10 p-2" style="justify: center">
                <img src="{{blog.image.url}}" class="w-100">
                <h4 class="display-4">{{blog.title}}</h4>
                <p class="lead" style="text-align: justify">{{blog.description|safe}}</p>
                <p><i class="fa-solid fa-blog"></i> {{blog.category}}</p>
                <p>By: {{blog.author}}</p>
            </div>
        </div>
    {% else %}
    <h4 class="my-3 text-center text-danger">No Such Blog Found</h4>
    {% endif %}
</div>
{% endblock content %}
