{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnCode {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>

  <!--Nav Bar-->
    <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h3>EnCode</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li id="navbar-search-autocomplete">
                <form class="d-flex" role="search">
                  <input class="form-control me-2 bg-primary" type="search" placeholder="Search" aria-label="Search" id="form1" class="form-control">
                  <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>            
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'all_blogs' %}">Blog</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Welcome, {{user.first_name}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'add_blogs' %}">Add blog</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'signout' %}">Log out</a></li>
                </ul>
              </li>
      
              {% else %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'signin' %}">Sign In</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    {% block content %}

    {% endblock content %}

    <footer class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center"><p class="text-primary">Company</p>
            <p>About Us <br> Blog <br> Career <br> Contact Us</p>
          </div>
          <div class="col-md-4 text-center"><p class="text-primary">Policies</p>
            <p>Privacy Policies <br>Terms of Use <br>Secure Posting <br>Copyright Policies</p>
          </div>
          <div class="col-md-4 text-center"><p class="text-primary">Help</p>
          <p>Content <br>Management <br>Security <br> FAQ</p>
          </div>
        </div>
      </div>
      
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <img src="https://d2g9wbak88g7ch.cloudfront.net/staticimages/facebook.png" alt="Facebook" width="32px" height="32px">
        </li>
        <li class="list-inline-item">
          <img src="https://d2g9wbak88g7ch.cloudfront.net/staticimages/linkedin.png" alt="Linkedin" width="32px" height="32px">
        </li>
        <li class="list-inline-item">
          <img src="https://d2g9wbak88g7ch.cloudfront.net/staticimages/youtube.png" alt="Youtube" width="32px" height="32px">
        </li>
        <li class="list-inline-item">
          <img src="https://d2g9wbak88g7ch.cloudfront.net/staticimages/pinterest.png" alt="Pinterest" width="32px" height="32px">
        </li>
        <li class="list-inline-item">
          <img src="https://d2g9wbak88g7ch.cloudfront.net/staticimages/instagram.png" alt="Instagram" width="32px" height="32px">
        </li>
      </ul>
      <p class="text-center text-secondary"> &copy; 2023 EnCode. All Rights Reserved</p>
    </footer>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
{% block extrajs %}
    
{% endblock extrajs %}
</body>
</html>